body {
	font-family: 'Montserrat', sans-serif;
	background-color: #A9A9A9;
	/*background-image: url("bg.png");
	background-size: cover;
	background-position: center center; */
	/* #C19547 2275x1794*/
}

#one {
	display: grid;
	position: absolute;
	bottom: 0;
	height: 90%;
	grid-template-columns: 52% 48%;
}

#logo2 {
	width: 200px;
	display: none;
}

#frame {
	position: relative;
	grid-column-start: 1;
	background-image: url("finaltown.png");
	background-size: 697px 545px;
	width: 697px;
	height: 545px;
	justify-self: center;
	align-self: center;
}

#catch {
	width: 223px;
	position: absolute;
	top: 70px;
	left: 237px;
}

#talk {
	grid-column-start: 2;
	position: relative;
	align-self: center;
}

#talk h1 {
	color: white;
	font-size: 42px;
	margin: 0 40px 5% 40px;
	justify-self: center;
}

#talk p {
	margin: 5% 40px 5% 40px;
	font-size: 18px;
	line-height: 24px;
	color: white;
}

#logos {
	width: 200px;
	display: block;
	position: absolute;
	top: 4%;
	right: 50%;
	margin-right: -100px;
}

form {
	margin-left: 30px;
}

form .block {
	display: inline-block;
	margin: 0 10px;
}

input[type=text] {
	width: 125px;
	background: none;
	color: white;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	border: 2px solid white;
}

input[type=email] {
	background: none;
	color: white;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	border: 2px solid white;
}

input[type=submit] {
	background-color: #7F1418;
	border: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 15px;
	margin: 10px 20px;
	cursor: pointer;
}

#talk form p {
	font-size: 14px;
	margin: 0;
}

#talk #parting {
	font-size: 14px;
	margin: 30px 0 0 40px;
}

#parting a {
	color: white;
}


#one #talk #thanks {
	opacity: 0;
	color: #7F1418;
	animation: transitionIn 2s forwards;
}

@keyframes transitionIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

@media screen and (max-width: 1475px) {
	#talk h1 {
		font-size: 38px;
	}
	input[type=submit] {
		margin: 10px 0;
	}
}

@media screen and (max-width: 1350px) {
	#one {
		display: block;
	}
}

@media screen and (max-width: 700px) {
	#frame {
		margin: 50px auto;
		background-size: 303px 236px;
		width: 303px;
		height: 236px;
	}
	#catch {
		width: 97px;
		position: absolute;
		top: 29px;
		left: 103px;
	}
	#talk #parting {
		margin-bottom: 30px;
	}
	#one {
		margin-bottom: 30px;
	}
	#talk h1 {
		font-size: 28px;
		text-align: center;
	}
	#talk p {
		font-size: 14px;
		line-height: 16px;
	}
	form .block {
		display: block;
		margin: 10px 0 10px 10px;
	}
	#talk #parting {
		font-size: 12px;
	}
}